* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border-style: none;
    list-style-type: none;
}

body, a {
    font-family: "Tahoma", Calibri, sans-serif;
    font-weight: normal;
    color: #2f2f2f;
}
nav a{
    font-size: 24px;
}

#links{
    font-size: 16px;
    background-color: #f6f6f6;
}
body{
    background-color: #fafafa;
}

a{
    text-decoration: none;
}

#inner-wrapper {
    background-color: #fff;
}

#wrapper {
    max-width: 1000px;
    margin: 30px auto;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 60px 40px 50px 0;
}

#links ul li {
    padding-top: 12px;
}

#logo_nav, #links {
    text-align: left;
    padding-left: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 40px; /* You can adjust the gap between items as needed */
}

.grid-item, .span-2-columns, .span-2-rows {
    text-align: center;
}

.grid-item {
    text-align: center;
}

.span-2-columns {
    grid-column: span 2;
}

.span-2-rows {
    grid-row: span 2;
}
